
.caja {
 margin: 2cm 3cm 1cm 4cm;
 padding: 2cm 8cm 1cm 4cm;
 border: 1px solid red;
 background: gray;
}

.contenedor {
 margin: 0;
 padding: 0;
 border: 1px solid black;
 background-image: -moz-linear-gradient(270deg,white 0%,gray 100%);
 background-image: -webkit-linear-gradient(270deg,white 0%,gray 100%);
 background-image: -o-linear-gradient(270deg,white 0%,gray 100%);
 background-image: linear-gradient(270deg,white 0%,gray 100%);
/* background: yellow; */
}