
div.caja { 
 position:relative;
 width: 20em; 
 height: 10em; 
 float: left; 
 border: 1px solid black;
}

div#lineal1 { 
 background-image: -moz-linear-gradient(45deg,white,black);
 background-image: -webkit-linear-gradient(45deg,white,black);
 background-image: -o-linear-gradient(45deg,white,black);
 background-image: linear-gradient(45deg,white,black);
}
div#lineal2 { 
 background-image: -moz-linear-gradient(yellow, blue 20%, green);
 background-image: -webkit-linear-gradient(yellow, blue 20%, green);
 background-image: -o-linear-gradient(yellow, blue 20%, green);
 background-image: linear-gradient(yellow, blue 20%, green);
}
div#lineal3 { 
 background-image: -moz-linear-gradient(to top right,red,blue);
 background-image: -webkit-linear-gradient(to top right,red,blue);
 background-image: -o-linear-gradient(to top right,red,blue);
 background-image: linear-gradient(to top right,red,blue);
}

div#radial1 { 
 background-image: -moz-radial-gradient(5em circle at top left, yellow, blue);
 background-image: -webkit-radial-gradient(5em circle at top left, yellow, blue);
 background-image: -o-radial-gradient(5em circle at top left, yellow, blue);
 background-image: radial-gradient(5em circle at top left, yellow, blue);
}
