/* Ver todas las cajas */
/*
* {
   border: 1px solid red !important;
} 
*/
.shadow {
  -moz-box-shadow:    3px 3px 5px 6px grey;
  -webkit-box-shadow: 3px 3px 5px 6px grey;
  box-shadow:         3px 3px 5px 6px grey;
}

.peque {
 margin-left: 10em;
 margin-right: 10em;
}
